.App {
  text-align: center;
  height: 100vh;
  background: #F5F5F5;
}

.App-header {
  background-color: #002766;
  min-height: 188px;
  display: flex;
  color: white;
}

.Container {
  position: absolute;
  top: 10%;
  padding: 10px 10px;
  background: white;
  width: 760px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
}

.Number{
  color: #FF8B08;
  font-weight: 500;
  font-size: 53px;
  line-height: 61px;
  text-align: left;
  height: 62px;
}

.Text{
  color: #262626;
  text-align: right;
  font-weight: 500;
  font-size: 23px;
  line-height: 31px;
  width: 577px;
  height: 62px;
}

.oval-11 {
	box-sizing: border-box;
	height: 96px;
	width: 95px;
	border: 3px solid #FFFFFF;
}

.oval-10 {
	box-sizing: border-box;
	height: 146px;
	width: 145.73px;
	border: 3px solid rgba(255,255,255,0.5);
	background-color: rgba(255,255,255,0.1);
}

p{
  display: inline-flex;
}
video{
  border-radius: 8px;
  height: 360px;
  width: 650px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
